## Pandas First Steps

### Install and Import

Pandas can easily be install via
    
`conda install pandas`  or  `pip install pandas`

If you are using the `Binder` repertoir we prepared for you, or you created your 
own local intallation, pandas should already be installed.

Now we usally import pandas using a shorter name just like below:

In [ ]:
import pandas as pd

### Series and DataFrames

Series and DataFrames are the two primary components/ data structure of pandas.

- A `Series` is a  a one-dimensional labeled array capable of holding any data type
- A `DataFrame` is multi-dimensional table made up of a collection of `Series`

![title](img/dataFrame.png)

`DataFrames` and `Series` are quite similar in that many operations that you can do with one you can do with the other. (e.g. filling in null values or calculating the mean)

## How we incorporate data in JupyterLab

#### 1. Creating manually your data 

You can manually create your data set by creating directly a `DataFrame` in python. There is many different way to do this. Example:

In [ ]:
data = {
    'pears' : [12, 34, 7, 6, 9],
    'apple' : [32, 3, 54, 6, 24]
}

data_df = pd.DataFrame(data)
data_df

### 2. Using a CSV file as your data source

Here we are going use the a CSV file which cointain the list of TV shows and movies available on Netflix as of 2019.

In [ ]:
# Let's use pandas to access some data in a CSV file
pd.read_csv('./data/Netflix_data/titles.csv')

### 3. Using an Excel file as your data source

In [ ]:
# Let's use pandas to access some data in a CSV file

In [ ]:
### 4. Using a JSON file as your data source
*JSON* or JavaScript Object Notation is a open standard file format and data interchange format.
JSON file uses human-readable text to store and transmit data ojetcs.
These data objects consist of attribute-value pairs and data types. (Just like a dictionnary)

Here is an example:
    
![title](img/json.png)

In [4]:
# Let's use pandas to load a JSON file in Jupyter Lab (Wine data)
a = pd.read_json('./data/Wine_data/winemag-data-130k-v2.json')

In [5]:
a.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,None,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,None,None,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",None,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,None,Alexander Peartree,None,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

### 5. Using a SQL database file as your data source: SQLite

**SQLite** is a C library that provides a lightweight disk-based database that doesn’t require a 
separate server process and allows accessing the database using a nonstandard variant of the SQL query language.

In [ ]:
# # creation of local disk stick data base
# import sqlite3
# conn = sqlite3.connect('stocks.db')
# c = conn.cursor()

# # Create table
# c.execute('''CREATE TABLE stocks
#              (date text, trans text, symbol text, qty real, price real)''')

# # Insert a row of data
# c.execute("INSERT INTO stocks VALUES ('2006-01-05','BUY','RHAT',100,35.14)")

# # Save (commit) the changes
# conn.commit()

# # We can also close the connection if we are done with it.
# # Just be sure any changes have been committed or they will be lost.
# conn.close()
# conn = sqlite3.connect('stocks.db')
# c = conn.cursor()
# symbol = 'RHAT'
# c.execute("SELECT * FROM stocks WHERE symbol = '%s'" % symbol)

# # Do this instead
# t = ('RHAT',)
# c.execute('SELECT * FROM stocks WHERE symbol=?', t)
# print(c.fetchone())

# # Larger example that inserts many records at a time
# purchases = [('2006-03-28', 'BUY', 'IBM', 1000, 45.00),
#              ('2006-04-05', 'BUY', 'MSFT', 1000, 72.00),
#              ('2006-04-06', 'SELL', 'IBM', 500, 53.00),
#             ]
# c.executemany('INSERT INTO stocks VALUES (?,?,?,?,?)', purchases)
# conn.commit()

# # Readign all teh data saved in the data base
# for row in conn.execute('SELECT * FROM stocks ORDER BY price'):
#     print(row)

In [ ]:
import sqlite3
conn = sqlite3.connect('stocks.db')

In [ ]:
df = pd.read_sql_query("SELECT * FROM stocks", conn)
df

### 6. Using a real SQL database: PostgreSQL

**PostgreSQL** is a free an open0source relational database management system emphazing extensibility and SQL compliance.

**psycopg2** is the most popular PostgreSQL database adapter for Python.

In [ ]:
#!pip install psycopg2-binary

In [ ]:
import psycopg2

con = psycopg2.connect(database="dvdrental", user="postgres", password="a", host="127.0.0.1", port="5432")
print("Database opened successfully")

cur = con.cursor()
cur.execute("SELECT * from actor")
rows = cur.fetchall()
data = []
for row in rows:
    data.append(row)
data_actor = pd.DataFrame(data,columns=['id','Name','Last name', 'Time']).set_index('id')

### 7. Using an Application Programming Interface (API)

APIs within a program are set of standards which permit outside software systems to request information from he original program

For this example we are going to use the free API of **finnhub.io**

In [ ]:
# Looking at the api documentation and leveraging the data
import requests
r = requests.get('https://finnhub.io/api/v1/stock/metric?symbol=AAPL&metric=all&token=')
fi_df = r.json()

In [ ]:
fi_df['metric']

## Converting back to a CSV, JSON, SQL

So after extensive work on cleaning your data, you’re now ready to save it as a file of your choice. Similar to the ways we read in data, pandas provides intuitive commands to save it:

In [ ]:
data_actor.to_csv('new_purchases.csv')

data_actor.to_json('new_purchases.json')

data_actor.to_sql('actor', conn)

In [ ]:
df = pd.read_sql_query("SELECT * FROM actor", conn)
df

## Basic DataFrame operations

DataFrames possess hundreds of methods and other operations that are crucial to any analysis. As a beginner, you should know the operations that perform simple transformations of your data and those that provide fundamental statistical analysis.

In [ ]:
### Viewing your data
#     -head
#     -tail
#     -columns
#     -index